PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE feeders (
	id INTEGER NOT NULL, 
	feeder_code VARCHAR(50) NOT NULL, 
	location VARCHAR(255), 
	total_capacity_kw FLOAT, 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id), 
	UNIQUE (feeder_code)
);
INSERT INTO feeders VALUES(1,'FDR_12','Jaipur Urban Zone',500.0,'2026-03-01 12:06:00.208948','2026-03-01 12:06:00.208951');
CREATE TABLE houses (
	id INTEGER NOT NULL, 
	house_id VARCHAR(50) NOT NULL, 
	feeder_id INTEGER NOT NULL, 
	prosumer_type VARCHAR(20), 
	owner_name VARCHAR(255), 
	phone VARCHAR(20), 
	email VARCHAR(255), 
	algorand_address VARCHAR(58), 
	algorand_private_key TEXT, 
	opt_in_sun_asa BOOLEAN, 
	wallet_created_at DATETIME, 
	solar_capacity_kw FLOAT, 
	monthly_avg_consumption FLOAT, 
	current_month_generation_kwh FLOAT, 
	current_month_sun_minted FLOAT, 
	current_month_sun_received FLOAT, 
	current_month_sun_transferred FLOAT, 
	is_active BOOLEAN, 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id), 
	UNIQUE (house_id), 
	FOREIGN KEY(feeder_id) REFERENCES feeders (id), 
	UNIQUE (algorand_address)
);
INSERT INTO houses VALUES(1,'HOUSE_FDR12_001',1,'prosumer','Rahul Sharma',NULL,NULL,'YC2ZDGX56XVS7HE27H3XMYLG3TBKPF5ACEZJFW6CA2MUT4OZBZPCQ3L6OI','PB3tyxV33u6uGSuE/onI7u43Xxj2bkaXmfoyGSEpN5XAtZGa/fXrL5ya+fd2YWbcwqeXoBEyktvCBplJ8dkOXg==',1,'2026-03-01 12:13:49.750652',5.0,300.0,0.0,10.09999999999999965,2.0,0.0,1,'2026-03-01 12:06:00.223815','2026-03-07 08:56:40.087679');
INSERT INTO houses VALUES(2,'HOUSE_FDR12_002',1,'consumer','Neha Gupta',NULL,NULL,'VJIFNROG3XNCJUPKO3R777UC7YFQNOTYVSZMDH7QSZZ6LHIDDHRB45L6JI','K0JSrATQrta4xUEs9svoXaMFPW8y3YTzaILXk5U2qYSqUFbFxt3aJNHqduP//oL+Cwa6eKyywZ/wlnPlnQMZ4g==',1,'2026-03-01 16:01:06.160762',0.0,450.0,0.0,0.0,22.79999999999999716,0.0,1,'2026-03-01 12:06:00.223819','2026-03-08 10:52:16.954294');
CREATE TABLE pool_states (
	id INTEGER NOT NULL, 
	feeder_id INTEGER NOT NULL, 
	current_supply_kwh FLOAT, 
	current_demand_kwh FLOAT, 
	potential_shortage FLOAT, 
	grid_drawdown FLOAT, 
	timestamp DATETIME, 
	created_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(feeder_id) REFERENCES feeders (id)
);
INSERT INTO pool_states VALUES(1,1,5.0,11.80000000000000071,0.0,6.800000000000000711,'2026-03-08 11:33:59.191860','2026-03-01 12:06:00.232716');
CREATE TABLE daily_logs (
	id INTEGER NOT NULL, 
	feeder_id INTEGER NOT NULL, 
	log_date VARCHAR(10), 
	total_generation_kwh FLOAT, 
	total_demand_kwh FLOAT, 
	total_pool_allocation_kwh FLOAT, 
	total_grid_drawdown_kwh FLOAT, 
	log_hash VARCHAR(100), 
	blockchain_txn VARCHAR(100), 
	created_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(feeder_id) REFERENCES feeders (id)
);
CREATE TABLE generation_records (
	id INTEGER NOT NULL, 
	house_id INTEGER NOT NULL, 
	generation_kwh FLOAT NOT NULL, 
	timestamp DATETIME, 
	device_id VARCHAR(50), 
	signal_strength FLOAT, 
	created_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(house_id) REFERENCES houses (id)
);
INSERT INTO generation_records VALUES(1,1,2.700000000000000177,'2026-03-04 05:40:06.376737','DEMO_HOUSE_FDR12_001',-55.0,'2026-03-04 05:40:06.376740');
INSERT INTO generation_records VALUES(2,1,2.700000000000000177,'2026-03-04 05:40:11.370634','DEMO_HOUSE_FDR12_001',-55.0,'2026-03-04 05:40:11.370640');
INSERT INTO generation_records VALUES(3,1,2.700000000000000177,'2026-03-04 05:40:16.370448','DEMO_HOUSE_FDR12_001',-55.0,'2026-03-04 05:40:16.370454');
CREATE TABLE demand_records (
	id INTEGER NOT NULL, 
	house_id INTEGER NOT NULL, 
	demand_kwh FLOAT NOT NULL, 
	priority_level INTEGER, 
	duration_hours FLOAT, 
	timestamp DATETIME, 
	status VARCHAR(20), 
	created_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(house_id) REFERENCES houses (id)
);
INSERT INTO demand_records VALUES(1,1,4.0,5,1.0,'2026-03-01 12:12:35.203534','partial','2026-03-01 12:12:35.203543');
INSERT INTO demand_records VALUES(2,1,1.100000000000000089,5,1.0,'2026-03-01 12:41:46.578416','partial','2026-03-01 12:41:46.578440');
INSERT INTO demand_records VALUES(3,1,1.0,5,1.0,'2026-03-01 13:26:05.834053','partial','2026-03-01 13:26:05.834057');
CREATE TABLE allocations (
	id INTEGER NOT NULL, 
	house_id INTEGER NOT NULL, 
	allocated_kwh FLOAT NOT NULL, 
	source_type VARCHAR(20), 
	status VARCHAR(20), 
	ai_reasoning TEXT, 
	transaction_hash VARCHAR(100), 
	created_at DATETIME, 
	settlement_date DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(house_id) REFERENCES houses (id)
);
INSERT INTO allocations VALUES(1,1,0.0,'grid','confirmed','Priority-based allocation (priority=5): Allocating 0.00kWh from pool, 4.00kWh from grid fallback.',NULL,'2026-03-01 12:12:35.516202',NULL);
INSERT INTO allocations VALUES(2,1,0.0,'grid','confirmed','Priority-based allocation (priority=5): Allocating 0.00kWh from pool, 1.10kWh from grid fallback.',NULL,'2026-03-01 12:41:46.883548',NULL);
INSERT INTO allocations VALUES(3,1,0.0,'grid','confirmed','Priority-based allocation (priority=5): Allocating 0.00kWh from pool, 1.00kWh from grid fallback.',NULL,'2026-03-01 13:26:07.338809',NULL);
CREATE TABLE monthly_bills (
	id INTEGER NOT NULL, 
	house_id INTEGER NOT NULL, 
	month_year VARCHAR(7), 
	solar_generated_kwh FLOAT, 
	solar_exported_kwh FLOAT, 
	pool_bought_kwh FLOAT, 
	pool_sold_kwh FLOAT, 
	grid_bought_kwh FLOAT, 
	solar_export_credit FLOAT, 
	pool_sale_credit FLOAT, 
	pool_purchase_charge FLOAT, 
	grid_purchase_charge FLOAT, 
	discom_fixed_charge FLOAT, 
	discom_admin_fee FLOAT, 
	net_payable FLOAT, 
	bill_hash VARCHAR(100), 
	blockchain_txn VARCHAR(100), 
	sun_asa_minted FLOAT, 
	status VARCHAR(20), 
	created_at DATETIME, 
	finalized_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(house_id) REFERENCES houses (id)
);
INSERT INTO monthly_bills VALUES(1,1,'2026-03',40.30000000000000427,40.30000000000000427,0.0,0.0,300.0,261.9499999999999887,0.0,0.0,1938.480000000000018,240.0,58.14999999999999858,1734.680000000000063,NULL,NULL,40.30000000000000427,'draft','2026-03-04 06:12:22.000712',NULL);
INSERT INTO monthly_bills VALUES(2,2,'2026-03',2.700000000000000177,2.700000000000000177,0.0,0.0,450.0,17.55000000000000071,0.0,0.0,3184.639999999999873,240.0,95.5400000000000062,3262.630000000000109,NULL,NULL,2.700000000000000177,'draft','2026-03-07 09:00:25.498133',NULL);
CREATE INDEX ix_feeders_id ON feeders (id);
CREATE INDEX ix_houses_id ON houses (id);
CREATE INDEX ix_pool_states_id ON pool_states (id);
CREATE INDEX ix_pool_states_timestamp ON pool_states (timestamp);
CREATE UNIQUE INDEX ix_daily_logs_log_date ON daily_logs (log_date);
CREATE INDEX ix_daily_logs_id ON daily_logs (id);
CREATE INDEX ix_generation_records_timestamp ON generation_records (timestamp);
CREATE INDEX ix_generation_records_id ON generation_records (id);
CREATE INDEX ix_demand_records_id ON demand_records (id);
CREATE INDEX ix_demand_records_timestamp ON demand_records (timestamp);
CREATE INDEX ix_allocations_id ON allocations (id);
CREATE INDEX ix_monthly_bills_month_year ON monthly_bills (month_year);
CREATE INDEX ix_monthly_bills_id ON monthly_bills (id);
COMMIT;
